.table {

  &-component {

    @include media-query(non-pc) {
      padding: 5px 20px;
    }

    border-radius: 4px;
    padding: 30px;
    width: 100%;
    background: color(clear-white);
    overflow-x: auto;

    table {
      width: 100%;
    }

    th {
      @include font-size(x-small);
      padding: 0 0 8px;
      text-align: left;
      font-weight: 600;

      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 10px;
      }
    }

    thead tr {
      border-bottom: 0;
    }

    tr {
      border-bottom: 0.5px solid #ececec;
    }

    &-tr-3 > td {
      width: calc(100% / 6);
    }

    &-tr-4 > td {
      width: calc(100% / 8);
    }

    &-tr-5 > td {
      width: calc(100% / 10);
    }

    &-tr-6 > td {
      width: calc(100% / 12);
    }

    td {
      padding: 20px 0;
      font-weight: 300;
      color: color(secondary);

      &:first-child {
        padding-left: 0;
      }

      &:not(:last-child) {
        padding-right: 10px;
      }

      p {
        font-size: unset;
      }

      button {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 150px;
      }

      &.td-button {
        padding: 15px 0;
      }

      .td-div {

        p:not(:first-child) {
          color: color(primary);
        }

      }

    }
  }

  &-wide {
    width: unset;
  }

  &-option {
    width: max-content;

    .select-pop {
      min-width: 230px;
    }

  }

}
