.auth {

    padding-top: 90px;

    &-title {

        @include font-size(xx-large);
        margin-bottom: 10px;
        color: color(primary);
        font-weight: 700;
        font-family: $aux-font;

    }

    &-subtitle {

        @include font-size(large);
        font-weight: 300;

    }

    &-form {

        margin-top: 60px;
        max-width: 447px;

    }

    &-forgot-password-switch {

        @include font-size(x-small);
        margin-bottom: 30px;
        color: color(tertiary);
        font-family: $aux-font;
        font-weight: 600;
        letter-spacing: 0.12em;

    }

}
