.customers {

    &-summary {

        @include media-query(mobile) {

            margin-left: -15px;
            margin-right: -15px;
            padding-left: 20px;
            text-align: center;
            overflow-x: scroll;

        }

        display: flex;
        margin-bottom: 40px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        &::-webkit-scrollbar {
            display: none;
        }

        .summary-card-small {

            @include media-query(mobile) {

                margin-right: 20px;
                width: 90%;
    
            }

            margin: 0 auto;
            width: 23%;

            &:first-child {

                margin-left: 0;

            }

            &:last-child {

                margin-right: 0;

            }

        }

    }

    &-specific-summary {

        display: flex;
        margin-bottom: 40px;

    }

    &-details {

        border: 1px solid rgba(33, 63, 125, 0.06);
        box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
        padding: 30px;
        background: color(clear-white);

        &-block-title {

            @include font-size(regular);

        }

        &-block-entries {

            @include media-query(small-tablet) {

                justify-content: space-between;

            }

            @include media-query(mobile) {

                justify-content: space-between;

            }

            display: flex;
            flex-wrap: wrap;
            margin-bottom: 30px;
            border-bottom: 1px solid transparentize(color(primary), 0.9);
            padding: 15px 0 28px;

        }

        &-block-entries .view-formatter {

            @include media-query(pc-low-resolution) {

                min-width: 25%;

            }

            @include media-query(tablet) {

                min-width: 30%;

            }

            @include media-query(mobile) {

                min-width: 40%;

            }

            display: flex;
            flex-direction: column-reverse;
            margin: 15px 0;
            margin-right: 10px;
            min-width: 20%;


            .view-formatter-label {

                margin-top: 0;
                margin-bottom: 8px;
            
            }

        }

    }

}
